
  
  /* Placeholder*/
  textarea::placeholder {
    color: #FCD46A;
  }
  #venueSelect:focus {
    background-color: #201e19; 
    color: #FCD46A;
    outline: 2px solid #FCD46A;
    box-shadow: 0 0 5px #FCD46A;
  }
  #servicesMulti:focus {
    background-color: #201e19; 
    color: #FCD46A; 
    outline: 2px solid #FCD46A; 
    box-shadow: 0 0 5px #FCD46A;
  }
  #description:focus {
    background-color: #201e19; 
    color: #FCD46A;
    outline: 2px solid #FCD46A; 
    box-shadow: 0 0 5px #FCD46A;
  }