select:focus,
textarea:focus {
  background-color: rgb(24, 21, 31);
  color: #fcd46a;
}

textarea::placeholder {
  color: #fcd46a;
}
#upd-venue-service-select:focus {
  background-color: #201e19;
  color: #fcd46a;
  outline: 2px solid #fcd46a;
  box-shadow: 0 0 5px #fcd46a;
}
