/* Placeholder*/
textarea::placeholder {
  color: #fcd46a;
}
#venueSelect:focus {
  background-color: #201e19;
  color: #fcd46a;
  outline: 2px solid #fcd46a;
  box-shadow: 0 0 5px #fcd46a;
}
#servicesMulti:focus {
  background-color: #201e19;
  color: #fcd46a;
  outline: 2px solid #fcd46a;
  box-shadow: 0 0 5px #fcd46a;
}
#description:focus {
  background-color: #201e19;
  color: #fcd46a;
  outline: 2px solid #fcd46a;
  box-shadow: 0 0 5px #fcd46a;
}
