select:focus, textarea:focus {
    background-color: rgb(24, 21, 31); 
    color: #FCD46A; 
  }
  
  textarea::placeholder {
    color: #FCD46A; 
  }
#upd-venue-service-select:focus {
    background-color: #201e19; 
    color: #FCD46A;
    outline: 2px solid #FCD46A; 
    box-shadow: 0 0 5px #FCD46A; 
  }
