.chip-link {
    background-color: #133249; 
    color: #FCD46A;
    padding: 5px 10px;
    border-radius: 15px;
    display: inline-block;
    margin-right: 5px;
    text-decoration: none; /* Remove underline from links */
    display: inline-block; /* Make sure links are inline for text-align to work */
    margin: 5px; /* spacing around each chip */
}


.chip-link:hover {
    background-color: #061119; 
}

.centered-content {
    text-align: center;
    margin-bottom: 15px; 
}
.left-align-btn {
    padding-left: 15px;
    margin-bottom: 10px;
    
}
.admin-event-btn {
    background-color: #316878;
    margin-right: 20px;
}
.admin-event-btn:hover {
background-color: #133249;
}
.admin-reject-btn {
    background-color: #8fcf4f;
    color: #061119;
}
.admin-reject-btn:hover {
    background-color: #78ad42;
    color: #061119;
}
.admin-update-event-btn {
    background-color: #9d41c5;
    color: #e6e9ed;
}
.admin-update-event-btn:hover {
    background-color: #8739a9;
    color: #e0e5e9;
}



