@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Forum&family=Quattrocento&family=Stoke:wght@300;400&display=swap');
.navbar-background {
    background: linear-gradient(0deg, rgba(35,94,128,1) 9%, rgba(22,50,75,1) 68%);}
#navBrand {
    color: #FCD46A;
    font-family: 'Stoke';
}
#navBrand:hover {
    color: #82B3AD;
    font-family: 'Stoke';
}
.nav_bar_link {
    color: #FCD46A; ;
    font-family: 'Stoke';
}
.nav_bar_link:hover {
    color: #82B3AD; ;
}
.navbar-nav .nav_bar_link.active {
    color: #ffffff; 
}


.nav_btn_background {
    color: black;
    font-family: 'Stoke';
    background: linear-gradient(90deg, rgba(252,212,106,1) 0%, rgba(254,173,111,1) 90%);
}