/* tried adding this to get rid of white space */
/* html, body {
    margin: 0;
    padding: 0;
    height: 100%;
  } */
  .create-form-text {
    color: rgb(231, 220, 220);
  }


.background-image {
    background-image: url('../../../assets/brown-blue-wood.jpg'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* This makes sure that the div takes the full viewport height */
    width: 100%;
  }

